.gradient-div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(103deg, #000000 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 0.64;
}