.navbar-header-style{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 100%;
}

.logo-container-header {
  flex-shrink: 0;
  width: 4em;
  cursor: pointer;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.navbar-container-header {
  display: flex;
  align-items: center;
}

.link-buttons {
  display: flex;
  align-items: center;
}

.link-button-style {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link-button-style:hover {
  color: rgb(170, 192, 200);
  cursor: pointer;
}

.superadmin-style {
  color: #ff0000;
  font-weight: bold;
  margin-left: 20px;
}

.burger-icon {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }

  .link-buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    align-items: flex-end; 
    padding: 2em;
    margin-top: 2.5em;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
  }

  .menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
  }

  .menu-opened .link-buttons {
    display: flex;
  }
}

.link-button-style-profile img {
  width: 1.5em;
  margin: auto;
}

.background-color-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.199);
  background-color: rgb(239, 239, 239);
  margin-left: 1em;
}

.background-color-profile:hover {
  background-color: rgb(170, 192, 200);
}

.navbar-header-style.super-admin {
  background-color: rgb(22, 134, 138);
  width: 100%;
}