.container-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.container-categorias > div {
    margin-right: 18px;
    margin-left: 18px;
}
.container-categorias > div:last-child {
    margin-right: 0;
    margin-left: 0;
}

.style-group6729 {
    width: 266px;
    margin-bottom: 18px;
}


@media (max-width: 640px) {
    .motos-tech {
        font-size: 30px;
    }

    .texto-motos-tech {
        font-size: 14px;
    }

    .services-block-main-container img {
        max-width: 100%;
        height: auto; 
    }

    .style-group6729 {
        margin-bottom: 18px;
    }
}

@media (max-width: 1260px) {
    .motos-tech {
        font-size: 25px;
    }
}
